{% extends 'NCCP/libraries_base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %} 
	<h1>
		Libraries</h1>
	<h2>
		Publications</h2>
	<p>
		Publications created as a part of the Nevada Climate Change Project, or relating
		to the topic of climate change, are organized by the format or purpose of the document.
		The following categories contain all documents produced by, for, or related to the
		project and its interests.</p>
	
	<h3>
		2010</h3>
	<h4>
		Journal Articles</h4>
	<p>
		Aziz, O.A., Tootle, G.A., Gray, S.T., and Piechota, T.C.. 2010. Identification of
		Pacific Ocean sea surface temperature influences of Upper Colorado River Basin snowpack.
		Water Resources Research 46, W07536. [doi: 10.1029/2009WR008053]
	</p>
	<p>
		Baghzouz, M., Devitt, D.A., Fenstermaker, L.F., and Young, M.H.. 2010. Monitoring
		Vegetation Phenological Cycles in Two Different Semi-Arid Environmental Settings
		Using a Ground-Based NDVI System: A Potential Approach to Improve Satellite Data
		Interpretation. Remote Sensing 2(4):990-1013. [doi: 10.3390/rs2040990].
	</p>
	<p>
		Devitt, D.A., Fenstermaker, L.F., Young, M.H., Conrad, B., Baghzouz, M. and Bird,
		B.M.. 2010. Evapotranspiration of mixed shrub communities in phreatophytic zones
		of the Great Basin region of Nevada (USA). Ecohydrology 4: n/a. [doi: 10.1002/eco.169]
	</p>
	<p>
		Solander, K.; Saito, L.; Biondi, F. 2010. Streamflow simulation using a water-balance
		model with annually-resolved inputs. J. Hydrology. Vol. 387(1-2):43-53
	</p>
	<p>
		Stephen, H.; Ahmad, S.; Piechota, T.C., and C. Tang. 2010 Relating surface backscatter
		response from TRMM precipitation radar to soil moisture: results over a semi-arid
		region. Hydrology and Earth System Science. Vol. 14:193-204
	</p>
	<p>
		Stephen, H.; Ahmad, S.; Piechota, T.C. 2010. Land Surface Brightness Temperature
		Modeling Using Solar Insolation. IEEE Transaction on Geoscience and Remote Sensing.
		Vol. 48(1): 491-498.
	</p>
	<h4>
		Published Book(s) or Other One-time Publication(s):</h4>
	<p>
        Kauneckis, D. , Flagg, M. 2010. Results from a Survey of Local Green Business 
        Certification Programs in the United States. Other. 
	</p>
    <p>
		Liu, Z. and W. J. Smith, Jr., 2010, Geography and Climate Change. In Black, B.;
		Hassenzahl, D.; Stephens, J.; Weisel G.; Gift, N. (Eds) Climate Change: An Encyclopedia
		of Science and History, ABC-Clio.
	</p>
	<p>
		Liu, Z., Agriculture and Adaptation in China, 2010, In, Black, B.; Hassenzahl, D.;
		Safi, A. S.; Smith, W. J. Jr. , 2010, Public Attitudes towards Climate Change in
		the U.S. In Black, B.; Hassenzahl, D.; Stephens, J.; Weisel G.; Gift, N., (Eds),
		Climate Change: An Encyclopedia of Science and History, ABC-Clio.
	</p>
	<p>
		Stephens, J.; Weisel G.; Gift, N. (Eds), Climate Change: An Encyclopedia of Science
		and History, ABC-Clio.
	</p>
	<p>
		Smith Jr., W.; Wang, Y.D., 2010, Differences in Vulnerability to Hazards. . In Warf,
		B., Encyclopedia of Geography, Sage Publications Smith Jr., W.; Safi, A.S., 2010,
		Environmental Rights. In Warf, B., Encyclopedia of Geography, Sage Publications.
	</p>
	<p>
		Smith Jr., W.; Grenier, N. 2010, Indigenous Water Methods, In Warf, B., Encyclopedia
		of Geography, Sage Publications.</p>
	<p>
		Smith Jr., W.; Perkins, R., 2010, Small Islands. In Warf, B., Encyclopedia of Geography,
		Sage Publications.
	</p>
	<h4>
		Conference Presentations</h4>
	<p>
		Biondi, F., Strachan, S., Bradley, M., Cheek, M., Jamieson, L., Kilpatrick, M.,
		and Sibold, J.. 2010. Fire and climate history of mixed conifer woodlands in the
		Great Basin, USA. EOS Transactions, American Geophysical Union (AGU), Fall Meeting
		Supplement, San Francisco, CA, Abstract GC51D-0774, 1 page.
	</p>
	<p>
		Biondi, F.; Strachan S. 2010. Hypothesis-driven research on climate change impacts:
		the Nevada NSF-EPSCoR example. High-Five Symposium: The Future of High-Elevation
		Five-Needle White Pines in Western North America, University of Montana, Missoula.
		Conference Abstract.
	</p>
	<p>
		Bird, B.; Strachan, S.; Simeral, D.; Jasoni,R. 2010. Design and Status of the Elevational
		Transect and Monitoring Systems for Nevada's NSF EPSCoR Climate Change Research
		Program. Abstracts of the Annual State NSF-EPSCoR Climate Change Conference, University
		of Nevada, Las Vegas. Conference Abstract.
	</p>
	<p>
		Charlet, D.; Leary P. 2010. Biotic Responses to Climate Change in the Great Basin
		and Mojave Desert: Vegetation. Abstracts of the Annual State NSF-EPSCoR Climate
		Change Conference, University of Nevada, Las Vegas. Conference Abstract.
	</p>
	<p>
		Charlet, D.A. and Leary, P.. 2010. Climate and Floristic Variation in Great Basin
		Mountain Ranges. EOS Transactions, American Geophysical Union (AGU), Fall Meeting
		Supplement, San Francisco, CA, Abstract 1410 H, 1 page.
	</p>
	<p>
		Dascalu; Harris; Latifi; Okamoto; Fritzinger; McMahon. 2010. Design of an Intelligent
		Visual Software Tool for Enhanced Model Interoperability in Climate Change Research
		Proceedings, World Automation Congress (WAC-2010), Kobe, Japan.
	</p>
	<p>
		Dascalu; Harris; Latifi; Fritzinger; Okamoto; McMahon. 2010. Visual Software Environment
		in Support of Model Interoperability for Climate Change Research. Second European
		Symposium on Coupled Problems (ESCO-2010), Prague, Czech Republic. Conference Abstract.
	</p>
	<p>
		Devitt, D.A.; Young, M.H.; Lachniet, M.; Wagner, A.; Koonce, J.; Bird, B.; Healey,
		J. 2010. Water Source Partitioning for Shrubland Transpiration Using Innovative
		Field Methods. Abstracts of the Annual State NSF-EPSCoR Climate Change Conference,
		University of Nevada, Las Vegas. Conference Abstract.
	</p>
	<p>
		Devitt, D., Arnone, J., Biondi, F., Fenstermaker, L., Saito, L. S., Young, M., Riddle,
		B., Strachan, S., Bird, B., McCurdy, G., and Lyles, B.. 2010. Nevada Monitoring
		System to Assess Climate Variability and Change. EOS Transactions, American Geophysical
		Union (AGU), Fall Meeting Supplement, San Francisco, CA, Abstract H33C-1147, 1 page.
	</p>
	<p>
		Fenstermaker L.F., Jasoni, R.L., Arnone III, J.A., Devitt, D.A., and Kratt, C..
		2010. Impact of pixel versus footprint approaches on empirically derived ET estimates
		from Landsat TM. Abstracts of the Remote Sensing and Hydrology 2010 Symposium, Jackson
		Hole, WY, Sept 26-29, 2010.
	</p>
	<p>
		Fisk, T. 2010. Effects of climate change on groundwater resources. 2nd Annual Tri
		State Consortium Meeting. Conference Abstract.
	</p>
	<p>
		Fisk, T.; Pohll, G.; Sada, D.; Stone, M. 2010. Climate Change Impacts to Groundwater,
		Springs Hydrology and Aquatic Communities Amargosa Desert and Death Valley National
		Park, Nevada and California. Abstracts of the Annual State NSF-EPSCoR Climate Change
		Conference, University of Nevada, Las Vegas. Conference Abstract.
	</p>
	<p>
		Guida, R.; Stephen, H.; Roberts, C.; Abella, S.; Smith Jr., W.; Holland, J.; Liu,
		Z., 2010. Vegetation Change in the Newberry Mountains, Southern Nevada. Abstracts
		Association of American Geographers Annual Meeting, Washington, D.C.
	</p>
	<p>
		Guida, R.; Stephen, H.; Roberts, C.; Abella, S.; Smith Jr., W.; Holland, J., 2010,
		Vegetation and Climate Change in the Newberry Mountains, Southern Nevada,
	</p>
	<p>
		Abstracts of the 2nd Annual Tri-State EPSCoR Consortium Meeting.
	</p>
	<p>
		Hay, M., Strachan, S., and Biondi, F.. 2010. Tree Ring Interpolation Model. Abstracts
		of the 73rd Annual Meeting of the Association of Pacific Coast Geographers (APCG),
		Coeur D'Alene, ID, 1 page.
	</p>
	<p>
		Hoover, K., Poulson, S.R., Biondi, F., and Underwood, S.J.. 2010. Eco-hydrological
		pathways inferred from stable isotopes in a Pinus ponderosa and Pinus monophylla
		woodland of the Sheep Range, southern Great Basin, USA. Abstracts of the Annual
		Meeting, Association of American Geographers (AAG), Washington, D.C., 1 page.
	</p>
	<p>
		Hoover, K.; Poulson, S.R.; Biondi, F.; Underwood, S.J. 2010. Eco-hydrological pathways
		inferred from stable isotopes in a Pinus ponderosa and Pinus monophylla woodland
		of the Sheep Range, southern Great Basin, USA. Abstracts of the Annual Meeting of
		the Association of American Geographers, Washington, D.C. Conference Abstract.
	</p>
	<p>
		Hornsby, A.D.; Matocq, M.D. 2010. Quaternary biogeography of Neotoma cinerea: Linking
		genetic patterns with environmental change. Abstracts of the Annual State NSF-EPSCoR
		Climate Change Conference, University of Nevada, Las Vegas. Conference Abstract.
	</p>
	<p>
		Karam, S.L.; Weisberg, P.J.; Sunderman, S.O. 2010. Tree population dynamics at Ash
		Meadows National Wildlife Refuge: Influences of environmental stress and disturbance.
		Abstracts of the Annual State NSF-EPSCoR Climate Change Conference, University of
		Nevada, Las Vegas. Conference Abstract.
	</p>
	<p>
		Koonce, J. 2010. Changes in groundwater level, caused by groundwater pumping and
		climate change. 2nd Annual Tri State Consortium Meeting. Conference Abstract.
	</p>
	<p>
		Koonce, J.; Young, M.; Devitt, D.; Yu, Z. 2010. From Lab to Basin Scale: A Look
		at Changes in Evaporative and Transpirative Processes in Arid and Semi-arid Shallow
		Groundwater Systems. Abstracts of the Annual State NSF-EPSCoR Climate Change Conference,
		University of Nevada, Las Vegas. Conference Abstract.
	</p>
	<p>
		Leary, P.; Charlet, D. Biotic responses to climate change in the Mojave Desert:
		Floristics. 2010. Abstracts of the Annual State NSF-EPSCoR Climate Change Conference,
		University of Nevada, Las Vegas. Conference Abstract.
	</p>
	<p>
		Liu, Z.; Smith Jr., W., 2010. Development of a geodatabase on Native American tribes
		in Nevada, USA. Abstracts of the Annual Meeting of the Association of American Geographers,
		Washington, DC.
	</p>
	<p>
		Liu, Z.; Smith, Jr., W.; and Safi A.S., 2010, Analysis plans of farmer/rancher surveys
		in Nevada on climate change. Abstracts of the 2nd Annual Tri-State Western Consortium
		Meeting. Incline Village, NV.</p>
	<p>
		Liu, Z., Smith, Jr., W.; Safi, A.S. 2010. Perceptions of ranchers and farmers on
		climate change impacts and adaptation strategies in Nevada. Abstracts of the Great
		Basin / Mojave Desert Climate Change Workshop: Research, Adaptation, Mitigation,
		Las Vegas, NV.
	</p>
	<p>
		Liu, Z.; Smith Jr., W. 2010. Climate change research lab at UNLV. Abstracts of the
		NGIS (Nevada GIS) Conference, Las Vegas, NV.
	</p>
	<p>
		Sady, M.; Arnone, J.; Bollinger, A.; Sady, A. 2010. Waterfall Fire Interpretive
		Trail. Abstracts of the Annual State NSF-EPSCoR Climate Change Conference, University
		of Nevada, Las Vegas. Conference Abstract.
	</p>
	<p>
		Safi, A. S.; Smith Jr., W.; Chief, K.; Liu Z. , 2010. Collaborative Environmental
		Research with Native American Nations: The Roles of History, Culture, and Science.
		Abstract, Association of American Geographers 2010 Meeting, Washington D.C.
	</p>
	<p>
		Safi, A. S.; Smith Jr., W.; and Liu, Z., 2010. Nevada Ranchers and Farmers: Risk
		Perception and Policy Support. Abstract, 2nd Tri-State EPSCoR Consortium Meeting,
		Incline Village, NV.
	</p>
	<p>
		Safi, A. S.; Smith Jr., W.; Liu, Z. 2010, Rural Nevada: The Influence of Vulnerability
		on Risk Perception and Environmental Behavior within the Context of Climate Change.
		Abstract, Nevada NSF EPSCOR 2010 meeting, Las Vegas, Nevada.
	</p>
	<p>
		Safi, A. S.; Smith Jr., W.; and Liu, Z. 2010. Rural Nevada: The Influence of Vulnerability
		on Risk Perception with the Context of Climate Change. Abstract, Society of Risk
		Analysis 2010 Meeting, Salt Lake City, Utah.
	</p>
	<p>
		Strachan, S.; Simeral, D.; Bird, B.; Jasoni, R. 2010. Building infrastructure: Climate
		monitoring transects in Nevada. Abstracts of the Annual State NSF-EPSCoR Climate
		Change Conference, University of Nevada, Las Vegas. Conference Abstract.
	</p>
	<p>
		Wagner, A.; Devitt, D.; Young, M.; Lachniet, M.; Koonce, J.; Bird, B. 2010. Water
		source partitioning for shrubland transpiration using innovative field methods.
		Abstracts of the Annual State NSF-EPSCoR Climate Change Conference, University of
		Nevada, Las Vegas. Conf. Abstract.
	</p>
	<p>
		Young, M.; Baxter, C. 2010. Round Table Discussion – Development of Joint Science
		Hypotheses and Region-wide Collaborative Proposals. 2nd Annual Tri State Consortium
		Meeting. Conference.
	</p>
	<p>
		Xie, Z.; Liu, Z.; Pearlstine, R. S.; Sonenshein L.; Conrads, P. A.; Henkel, H. S.;
		Telis, P.A. 2010, Revision and assessment of water-surface modeling of the Everglades
		Depth Estimation Network (EDEN), Abstracts of the Greater Everglades Ecosystem Restoration
		Conference (GEER), Naples, FL.
	</p>


	<p style="font-weight: bold">
		Publications from other years:
        <a href="{% url 'publications' %}">2013</a>
		&#8226;
        <a href="{% url 'publications_2012' %}">2012</a>
		&#8226;
		<a href="{% url 'publications_2011' %}">2011</a>
		&#8226;
		<a href="{% url 'publications_2010' %}">2010</a>
		&#8226;
		<a href="{% url 'publications_2009' %}">2009</a></p>
{% endblock %}
