{% extends 'NCCP/libraries_base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %} 
	<h1>
		Libraries</h1>
	<h2>
		Publications</h2>
	<p>
		Publications created as a part of the Nevada Climate Change Project, or relating
		to the topic of climate change, are organized by the format or purpose of the document.
		The following categories contain all documents produced by, for, or related to the
		project and its interests.</p>
	
	<h3>
		2009</h3>
	<h4>
		Journal Articles</h4>
	<p>
		Miller, W.P.; Piechota T.C., "Regional Analysis of Trend and Step Changes Observed
		in Hydroclimatic Variables Around the Colorado River Basin", Journal of Hydrometeorology,
		vol. 9, (2009), p. 1020.
	</p>
	<p>
		Soukup, T.; Aziz O.; Tootle G.; Piechota T.; Wulff S., "Long Lead-time Streamflow
		Forecasting of the North Platte River Incorporating Oceanic-Atmospheric Climate
		Variability", Journal of Hydrology, vol. 368, (2009), p. 131
	</p>
	<p>
		Tang, C.; Piechota, T. 2009. Spatial and Temporal Soil Moisture and Drought Variability
		in the Upper Colorado River Basin. J. Hydrology Vol. 379 (1-2):122-135. Timilsena,
		J.; Piechota T.;
	</p>
	<p>
		Tootle G.; Singh A., "Associations of Interdecadal/Interannual Climate Variability
		and Long-Term Colorado River Basin Streamflow", Journal of Hydrology, vol. 365,
		(2009), p. 289 Tootle, G.T.; Piechota, T.C.; Aziz, O.; Miller, W.P.; Lakshmi, V.;
		Dracup, J.A.; Jerla, C. 2009. 2009-2010 El Niño: Hydrologic Relief for Parts of
		the U.S.? EOS Transactions, Vo. 90, No. 50: 481-492.
	</p>
	<h4>
		Published Book(s) or Other One-time Publication(s):</h4>
	<p>
		Lancaster, N. 2009. Deserts . Pages 276-296 in Geomorphology and Global Environmental
		Change, Spencer, T.S., Slaymaker, O., Embleton-Hamann, C. (editors), Cambridge University
		Press.
	</p>
	<p>
		Lancaster, N. 2009. Aeolian Features and Processes. Pages 1-26 in Geological Monitoring.
		Young, R.S., and Norby, L (editors). Boulder, Colorado, Geological Society of America
		Lancaster, N. 2009. Deserts. Pages 307-309 in Encyclopedia of Global Warming, Dutch,
		S.I(ed). Salem Press.
	</p>
	<p>
		Lancaster, N. 2009. Dust Storms. Pages 325-326 in Encyclopedia of Global Warming.
		Dutch. S.I (editor). Salem Press.
	</p>
	<p>
		Lancaster, N. 2009. Sahara Desert. Pages 896-897 in Encyclopedia of Global Warming.
		Dutch, S.I (editor). Salem Press.
	</p>
	<p>
		Lancaster, N. 2009. United Nations Convention to Combat Desertification. Pages 1029-1030
		in Encyclopedia of Global Warming. Dutch, S.I (editor). Salem Press.
	</p>
	<p>
		Piechota, T.C.; Neumann E., "Climate Change, Global Warming, and Sustainability:
		Civil Engineering Curriculum and Student Perceptions" , bibl. Proceedings of the
		2008 ASEE Annual Conference, (2008). Conference Proceeding.
	</p>
	<p>
		Webb, R., Fenstermaker, L., Heaton, J., Hughson, D., McDonald, E., and Miller, D.
		(Editors). 2009. The Mojave Desert Ecosystem Processes and Sustainability. University
		of Nevada Press, Reno NV.
	</p>
	<h4>
		Conference Presentations</h4>
	<p>
		Biondi, F.; Strachan, S. 2009. A 2300-year tree-ring chronology and its climatic
		implications for the eastern Sierra Nevada/western Great Basin. Proceedings of the
		International Symposium on Terminus Lakes: Preserving Endangered Lakes Through Research,
		University of Nevada, Reno, p. 38.
	</p>
	<p>
		Dana, G., Piechota, T., Mensing, S., Lancaster, N., 2009, Nevada Infrastructure
		for Climate Change Science, Education, and Outreach, PACLIM - Pacific Climate Workshop
		in Pacific Grove, CA April 20 - 22, 2009.
	</p>
	<p>
		Dana, G., Piechota, T., Mensing, S., Lancaster, N., 2008 Nevada Infrastructure for
		Climate Change Science, Education, and Outreach, AGU Annual Meeting December 15-19,2008.
		Special CIRMOUNT session: Complex Mountain Climates Create Complex Ecosystem Responses
		and Require Complex Management Strategies
	</p>

	<p style="font-weight: bold">
		Publications from other years:
        <a href="{% url 'publications' %}">2013</a>
		&#8226;
        <a href="{% url 'publications_2012' %}">2012</a>
		&#8226;
		<a href="{% url 'publications_2011' %}">2011</a>
		&#8226;
		<a href="{% url 'publications_2010' %}">2010</a>
		&#8226;
		<a href="{% url 'publications_2009' %}">2009</a></p>
{% endblock %}
