{% extends 'NCCP/libraries_base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %} 
	<h1>
		Libraries</h1>
	<h2>
		Publications</h2>
	<p>
		Publications created as a part of the Nevada Climate Change Project, or relating
		to the topic of climate change, are organized by the format or purpose of the document.
		The following categories contain all documents produced by, for, or related to the
		project and its interests.</p>
	
	<h3>
		2011</h3>
	<h4>
		Journal Articles</h4>
	<p>
		Biondi, Franco, Jamieson, Leia P., Strachan, Scotty, and Sibold, Jason. 2011. Dendroecological
		testing of the pyroclimatic hypothesis in the central Great Basin, Nevada, USA.
		Ecosphere 2:art5. [doi: 10.1890/ES10-00068.1]
	</p>
    <p>
        Biondi, F., Strachan, S., The Nevada NSF-EPSCoR Instrumented Transects: A Tool for Mountain-to-Valley 
        Ecohydrology, Mountain Views, 2011, 2-4, 5(1). 
    </p>
    <p>
        Brandstetter III, W.E.,Mahsman, J.D., White C.J., Dascalu, S.M., and Harris, F.C., Jr., 
        Multi-Resolution Deformation in Out-of-Core Terrain Rendering, International Journal of 
        Computers and Their Applications, 2011, 263-272, vol. 18. no 4.
    </p>

    <p>
        Kauneckis, D. , Tosun, M. S., Examining the theoretical linkages between climate change, food 
        security and migration, Border-Lines: Food Security and International Migration, 2011, 69-89, 5.
    </p>
    <p>
        Kleppe, J. A., Brothers, D. S., Kent, G., Biondi, F., Jensen, S. E., Driscoll, N., Duration and 
        severity of Medieval drought in the Lake Tahoe Basin, Quaternary Science Reviews, 2011, 3269-3279, 30(23-24). 
    </p>
    <p>
        Lamb, K.W., Piechota, T.C., Aziz, O.A., Toottle, G.A., A Basis For Extending Long-Term Streamflow 
        Forecasts In The Colorado River Basin, Journal of Hydrologic Engineering, 2011, 1000-1008, 16, 
        DOI: 10.1061/(ASCE)HE.1943-5584.0000153. 
    </p>
    <p>
        Li, Z, Q Dong, TP Albright, & QF Guo, Natural and human dimensions of a quasi-wild species: 
        The case of kudzu, Biological Invasions, 2011, 2167-2179, 13, DOI:10.1007/s10530-011-0042-7. 
    </p>
    <p>
		Liu, Z.; Tong, S.T.Y. 2011, Using HSPF to model the hydrologic and water quality
		impacts of riparian land-use change in a small watershed". Journal of Environmental
		Informatics, p.1, vol. 17.
	</p>

    <p>
        Miller, W.P, Piechota, T.C, Gangopadhyay, S., Pruitt, T., Development of Streamflow Projections 
        under Changing Climate Conditions over Colorado River Basin Headwaters, Hydrology and Earth 
        System Sciences, 2011, 2145-2164, 15, DOI:10.5194/hess-15-2145-2011.
    </p>
    <p>
        Miller, W.P., Piechota, T.C., Trends in Western U.S. Snowpack and Related Upper Colorado River 
        Basin Streamflow, Journal of American Water Resources Association, 2011, 1197-1210, 47, 
        DOI: 10.1111/j.1752-1688.2011.00565.x.
    </p>

    <p>
        Tang, C., Piechota, T.C., Tang, D., Relationships between oceanic atmospheric patterns and 
        soil moisture in the Upper Colorado River Basin, Journal of Hydrology, 2011, 77-90, 411, 
        DOI: 10.1016/j.jhydrol.2011.09.035. 
    </p>
    <p>
        Xie, Z., Z. Liu, J.W. Jones, A.L. Higer, and P. A. Telis, Landscape unit based digital elevation 
        model development for the freshwater wetlands within the Arthur C. Marshall Loxahatchee National 
        Wildlife Refuge, Southeastern Florida., Applied Geography, 2011, 401-412, 31. 
    </p>


	<h4>
		Published Book(s) or Other One-time Publication(s):</h4>
    <p>
        Benedict, K., Gollberg, G., Sheneman, L. and Dascalu, S. 2011. Advances in Metadata Generation 
        and Applications for Earth Sciences. AGU-2011 Fall Meeting, San Francisco, CA. Poster. 
    </p>
	<p>
		Biondi, F., and Strachan, S.. 2011. The Nevada NSF-EPSCoR Instrumented Transects:
		A Tool for Mountain-to-Valley Ecohydrology. CIRMOUNT Newsletter, 5(1): 2-4.
	</p>
    <p>
        Biondi, F., Strachan, S. 2011. Climate Change Response of Great Basin Bristlecone Pine in 
        the Nevada NSF-EPSCoR Project (www.nvclimatechange.org). R.E. Keane, D.F. Tomback, M.P. 
        Murray, and C.M. Smith (Eds.). The future of high-elevation, five-needle white pines in 
        Western North America. Proceedings of the High Five Symposium, RMRS-P-63, pp. 203-204. 
        USDA Forest Service, Rocky Mountain Research Station, Fort Collins, Colorado. Conference Paper.  
    </p>
    <p>
        Kauneckis, D. , Cuffe, O. 2011. Nevada Climate Change Survey of Public Agencies: Executive Summary. 
        2011. Other. 
    </p>
    <p>
        McMahon, M., Dascalu, S.-M., Harris, F. C., Strachan, S., Biondi, F. 2011. Architecting Climate Change 
        Data Infrastructure for Nevada. Salinesi, C. and Pastor, O. (Eds.). Advanced Information Systems 
        Engineering Workshops CAISE-2011. Lecture Notes in Business Information Processing, Vol. LNBIP-83, 
        pp. 354-365. Book Chapter. 
    </p>
    <p>
        McMahon, M.J., Jr., Harris, F.C., Jr., Dascalu, S.M., and Strachan, S. 2011. S.E.N.S.O.R.- Applying Modern 
        Software and Data Management Practices to Climate Research. S. Aljahdali. Proceedings of the 2011 Workshop 
        on Sensor Network Applications (SNA-2011), Honolulu, HI, pp. 147-153. Peer reviewed conference paper in 
        conference proceedings (7 pages).
    </p>
    <p>
        Nussbaum, E.  M., Sinatra, G. M., & Owens, Marissa C. 2011. The two faces of scientific argumentation:  
        Applications to global climate change.. M. Khine (17-37). Perspectives in scientific argumentation: 
        Theory, practice and research. Book Chapter. 
    </p>
    <p>
        Patel, J., Dascalu, S.M., Harris, F.C., Jr., Benedict, K., Gollberg, G. and Sheneman, L. 2011. Web-based 
        Toolkit for Dynamic Generation of Data Processors. . AGU-2011 Fall Meeting, San Francisco, CA.  Poster. 
    </p>
	<h4>
		Theses and Dissertations</h4>
	<p>
		Dolloff, Michael. 2011. Interpreting global emissions scenarios into a local scale
		urban growth model: Truckee Meadows metropolitan region, NV, USA. MS Thesis, UNR
	</p>
	<p>
		Guida, R., 2011, Climate and Vegetation Change in the Newberry Mountains, Southern
		Clark County, Nevada. Master's Thesis, University of Nevada, Las Vegas.
	</p>
	<p>
		Safi, A. S. 2011. Climate Change in Rural Nevada: The Influence of Vulnerability
		on Risk Perception and Environmental Behavior. Ph.D. dissertation, School of Environmental
		and Public Affairs, University of Nevada Las Vegas, Las Vegas, NV.
	</p>
	<h4>
		Conference Presentations</h4>
	<p>
		Abella, S. R.; Guida R. J.; Smith, S. D.; Roberts C. L.; Stephen, H.; Smith Jr.,
		W.; Z. Liu, Holland, J. S., 2011 The prognosis for plant community habitat alterations
		in changing desert climates. Abstracts of the Devils Hole Workshop, Pahrump, NV
	</p>
	<p>
		Eckstut, M.E., Jezkova, T., and Riddle, B.R.. 2011. The impact of climate change
		on the past, present, and future of North American desert biotas: contrasting areas
		of endemism, refugia, and areas of distribution. Abstracts of the 3rd Tri-State
		EPSCoR Consortium Meeting.
	</p>
	<p>
		Guida, R.; Stephen, H.; Roberts, C.; Abella, S.; Smith Jr., W.; Holland, J.; Liu,
		Z., 2011. Vegetation and Climate Change in the Newberry Mountains, Southern Nevada:
		Maxent and GIS Modeling for Policy Decision Support, Abstracts, Association of American
		Geographers Annual Meeting, Seattle, WA.
	</p>
	<p>
		Guida, R.; Stephen, H.; Roberts, C.; Abella, S.; Smith Jr., W.; Holland, J., 2011.
		Vegetation and Climate Change in the Newberry Mountains: Maxent Modeling for Policy
		Decision Support, Abstracts of the 3rd Annual Tri-State EPSCoR Consortium Meeting.
	</p>
	<p>
		Johnson, B.G., Arnone III, J.A., and Jasoni, R.L.. 2011. Controls on Conifer Sapflow
		Rate in Mountain Ecosystems. Abstracts of the 3rd Tri-State EPSCoR Consortium Meeting.
	</p>
	<p>
		Koonce, J., Young, M.H., Devitt, D.A., and Yu, Z.. 2010. Using Distributed Temperature
		Sensing (DTS) as a Means to Understand Evaporative and Transpirative Processes in
		Shallow Groundwater. 2010 ASA, CSSA and SSSA Annual Meetings, Long Beach CA, Abstract
		214-2.</p>
	<p>
		Larsen, J., Dascalu, S.M., and Biondi, F.. 2010. Visualization of transect data.
		Proceedings of the Undergraduate Research Symposium, University of Nevada, Reno.
		Liu, Z.; Smith Jr., W.; Safi, A.S. 2011, Climate change risk perceptions of ranchers
		and farmers in Nevada. Abstracts of the Annual Meeting of the Association of American
		Geographers, Seattle, WA.
	</p>
	<p>
		Liu, Z.; Smith Jr., W.; Safi, A.S. 2011, Climate change perceptions among Nevada's
		farmers and ranchers. Abstracts of the 3rd Annual Tri-State Western Consortium Meeting.
		Santa Ana Pueblo, NM.
	</p>
	<p>
		Liu, Z.; Stephen H.; Safi, A. S.; Smith Jr. W, 2011. Communication and the status
		of climate change in rural Nevada. Abstracts of the Annual Meeting of the Nevada
		EPSCoR, Reno, NV
	</p>
	<p>
		Mensing, S.A., Sharpe, S.E., Sada, D. &amp; Thomas, J.. 2011. A 7,600 yr multi-proxy
		reconstruction of hydrologic and vegetation history from a low-elevation spring-fed
		meadow, east central Nevada. Abstracts of the Pacific Climate Workshop, 25th Annual
		Meeting, Pacific Grove, CA.
	</p>
	<p>
		Motwani, R., Motwani, M., Harris, F.C., and Dascalu, S.. 2010. Towards a Scalable
		and Interoperable Global Environment Sensor Network Using Service-Oriented Architecture.
		Proceedings of the 6th Intl. Conference on Intelligent Sensors, Senor Networks and
		Information Processing (ISSNIP-2011), Dec. 2010, Brisbane, Australia. Peer-reviewed
		conference paper in conference proceedings.
	</p>
	<p>
		Nelson, Z, and Weisberg, P.J.. 2011. Simulating sagebrush ecosystem adaptive cycles
		under changing climate and fire regimes: feedbacks and thresholds of reorganization.
		Abstracts of the 3rd Tri-State EPSCoR Consortium Meeting.
	</p>
	<p>
		Okamoto, S., Fritzinger, E., Dascalu, S., Harris, F.C., Latifi, S., and MacMahon,
		M.. 2010. Towards an Intelligent Software Tool or Enhanced Model Interoperability
		in Climate Change Research. Proceedings of the World Automation Congress (WAC-2010),
		Sept. 2010, Kobe, Japan. Peer-reviewed conference paper in conference proceedings.
	</p>
	<p>
		Safi, A. S.; Smith Jr., W. 2011, Rural Nevada: Vulnerability, Environmental Behavior
		and Risk Perception. Abstracts Association of American Geographers 2011 Meeting,
		Seattle, WA.
	</p>
	<p>
		Safi, A. S.; Smith Jr. W.; Chief, K.; Liu Z., 2011, Native Americans and Climate
		Change: Beliefs, Risk Perceptions and Policy Preferences. Abstract 3rd Tri-State
		EPSCoR Consortium Meeting, Albuquerque, NM.
	</p>
	<p>
		Safi, A. S., Liu, Z.; Smith Jr., W.; and Chief, K. 2011. Rural Nevada: Climate Change
		Perception, policy and vulnerability. Abstract, Nevada NSF EPSCOR 2011 meeting,
		Reno, Nevada.
	</p>
	<p>
		Saito, L.S., Biondi, F., Fenstermaker, L., Arnone, J., Devitt, D., Riddle, B., and
		Young, M. 2010. The Nevada NSF EPSCoR infrastructure for climate change science,
		education, and outreach project: highlights and progress on investigations of ecological
		change and water resources along elevational gradients. EOS Transactions, American
		Geophysical Union (AGU), Fall Meeting Supplement, San Francisco, CA, Abstract H31I-01,
		1 page.
	</p>
	<p>
		Saito, L.S., Biondi, F., Fenstermaker, L., Arnone, J., Devitt, D., Riddle, B., Young,
		M., Bird, B., Charlet, D., Lyles, B., and Strachan, S.. 2011. Investigations of
		ecological change and water resources along elevational gradients in arid environments
		for the Nevada NSF EPSCoR Infrastructure for Climate Change Science, Education and
		Outreach Project. Abstracts of the American Water Resources Association (AWRA) Spring
		Specialty Conference: Managing Climate Change Impacts on Water Resources: Adaptation
		Issues, Options and Strategies. Baltimore MD, April 18-20, 2011.
	</p>
	<p>
		Saito, L.S., Biondi, F., Fenstermaker, L., Arnone, J., Devitt, D., Riddle, B., and
		Young, M.. 2011. The Nevada NSF EPSCoR infrastructure for climate change science,
		education, and outreach project: investigations of ecological change and water resources
		along elevational gradients in arid environments. Abstracts of the World Environmental
		and Water Resources Congress, Palm Springs CA, May 22-26.
	</p>
	<p>
		Smith Jr., W.; Safi, A. S., Liu, Z.; Chief, K.; Miranda, K.; and Gautam, M., 2011,
		Societal knowledge, assumptions &amp; preferences regarding climate change in Nevada
		2011 Association of Environmental Studies and Sciences 2011 Meeting, Burlington,
		VT.
	</p>
	<p>
		Stephen, H.; Smith Jr., W.; Liu Z., 2011. Development of geovisualization facility
		at GIS and remote sensing core lab, University of Nevada, Las Vegas. Abstracts Annual
		Meeting of the Association of American Geographers, Seattle, WA.
	</p>
	<p>
		Strachan, S., Bird, B., Lyles, B., McCurdy, G. and McMahon, M.. 2011. Building Climate
		Monitoring Infrastructure in Nevada: Integration of field science and cyberinfrastructure
		along high elevational transects. Abstracts of the Annual Meeting of the Association
		of American Geographers, Seattle, WA, 1 page.
	</p>
	<p>
		Strachan, S., Bird, B., Lyles, B., McCurdy, G. and McMahon, M. 2011. Building Climate
		Monitoring Infrastructure in Nevada: Integration of field science and cyberinfrastructure
		along high elevational transects. Abstracts of the 3rd Tri-State EPSCoR Consortium
		Meeting.
	</p>

	<p style="font-weight: bold">
		Publications from other years:
        <a href="{% url 'publications' %}">2013</a>
		&#8226;
        <a href="{% url 'publications_2012' %}">2012</a>
		&#8226;
		<a href="{% url 'publications_2011' %}">2011</a>
		&#8226;
		<a href="{% url 'publications_2010' %}">2010</a>
		&#8226;
		<a href="{% url 'publications_2009' %}">2009</a></p>
{% endblock %}
