{% extends 'NCCP/education_base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %} 
    <h1>
        Losing the Lake</h1>
    <p>
        When asked what the top three issues of the Las Vegas region were, the reply was
        &ldquo;water, water, water!&rdquo; This was the result of a survey of Las Vegas
        Valley TV anchors done a few years ago. The reason for this response is that the
        sustainability and growth of urban environments is critically-dependent upon sufficient
        water resources. As research has shown, even small changes in global conditions
        can have a significant effect upon regional water supplies. For example, stream
        flows and mountainous ice packs are impacted by changes in global temperature, impacting
        the amount of water available in a region. The increased demand for water by a growing
        population base places even more focus on these issues.
    </p>
    <figure>
        <img src="http://134.197.38.160/Static/Images/Education/Losing%20the%20Lake/Welcome%20screen.png" alt="The welcome screen for Losing the Lake." style="height:359px;width:480px;" />
        <figcaption>Welcome to &ldquo;Losing the Lake.&rdquo;</figcaption>
    </figure>
    <p>
        Even as the flow of water to the Las Vegas Valley is decreasing, many people in
        the area do not fully appreciate the severity of this crisis. Complicating matters
        is the fact that many people are unaware of the numerous ways they can contribute
        to water conservation. However, by educating Nevadans, future initiatives can be
        put into practice to help alleviate this dire situation. Combining imagery and a
        trivia format, the goal of this project is to create an engaging environment to
        raise water conservation awareness of all ages.
    </p>
    <figure>
        <img src="http://134.197.38.160/Static/Images/Education/Losing%20the%20Lake/Water%20coolers.png" alt="One of the game screens that shows water coolers." style="height:364px;width:480px;" />
        <figcaption>How much water can you save?</figcaption>
    </figure>
    <div style="text-align: center; padding-bottom: 1em">
        <span class="GameButton">
        <a href="http://134.197.38.160/Static/Applications/Education/Losing%20the%20Lake/LosingTheLake_V2.swf" target="_blank">Play Online</a>
        </span>
        <span class="GameButton">
        <a href="http://134.197.38.160/Static/Applications/Education/Losing%20the%20Lake/LosingTheLake_V2.zip" target="_blank">Download (PC only)</a>
        </span>
        <span class="GameButton">
        <a href="http://134.197.38.160/Static/Documents/Education/Losing%20the%20Lake/LTLFacilitationGuide.pdf" target="_blank">Facilitation Guide</a>
        </span>
    </div>
{% endblock %}
