{% extends 'NCCP/Libraries_Base.html' %}

{% block title %}Nevada Climate Change Portal: Libraries{% endblock %}

{% block body %} 
	<h1>
		Libraries</h1>
	<p>
		The Nevada Climate Change Project has compiled a collection of resources related
		to the general topic of climate change, climate research, and project development
		activities. These resources, though available elsewhere on this site and the Internet,
		are organized centrally in the project library. This collection includes videos,
		links to related content, publications, and any other resources that may be of use
		or interest to the public, researchers, or organizations interested in the project
		and climate change.
	</p>
	<p>
		The content made available as a part of the Nevada Climate Change Project is available
		for general public use. This use is subject to the restriction that proper credit
		and / or citations are given to the authors of the content. The content of other
		non-project resources is available under the specific terms of the originating site,
		location, and / or author(s). These resources include, for example, links to other
		websites, publications hosted on other sites, and graphics shown on other sites.
	</p>
{% endblock %}
