{% extends 'NCCP/libraries_base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %} 
	<h1>
		Libraries</h1>
	<h2>
		Publications</h2>
	<p>
		Publications created as a part of the Nevada Climate Change Project, or relating
		to the topic of climate change, are organized by the format or purpose of the document.
		The following categories contain all documents produced by, for, or related to the
		project and its interests.</p>
	
	<h3>
		2012</h3>
	<h4>
		Journal Articles</h4>
    <p>
        Anderson, DP, MG Turner, SM Pearson, TP Albright, RK Peet, A
        Wieben. Predicting Microstegium vimineum invasion in natural
        plant communities of the southern Blue Ridge Mountains, USA,
        Biological Invasions, 2012, [online] DOI 10.1007/s10530-012-0361-3.
    </p>
    <p>
        Jayet Bray, L. C., Anumandla, S. R., Thibeault, C. M., Hoang, R. V.,
        Goodman, P. H., Dascalu, S. M., Bryant, B. D., and Harris,
        F. C. (2012). Real-time human-robot interaction underlying
        neurorobotic trust and intent recognition. Neural Networks, 32,
        130-137.
    </p>
    <p>
        Jayet Bray, L. C., Barker, E. R., Ferneyhough, G. B., Hoang, R. V.,
        Bryant, B. D., Dascalu, S. M., and Harris, F. C. (2012). Goal-related
        navigation of a neuromorphic virtual robot. BMC Neuroscience, 13
        (suppl. 2), O3.
    </p>
    <p>
        Chakrabarty, R., M. Garro, E. M. Wilcox, and H. Moosmüller,
        Strong Radiative Heating due to Wintertime Black Carbon Aerosols
        in the Brahmaputra River Valley. Geophys. Res. Lett., 39, L09804,
        doi:10.1029/2012GL051148, 2012.
    </p>
    <p>
        Cheek, J.W., F. Biondi, J.S. Sibold, and R. Tausch. Fuel
        analysis and potential fire behavior in mixed conifer woodlands
        of the Great Basin, Nevada, USA. 2012. Physical Geography 33(3):
        205–228
    </p>
	<p>
        Culbert, PD, VC Radeloff, V St-Louis, CH Flather, CD Rittenhouse, TP Albright, & AM Pidgeon, 
        Modeling broad-scale patterns of avian species richness across the Midwestern United States 
        with measures of satellite image texture, Remote Sensing of Environment, 2012, 140-150, 118, 
        DOI:10.1016/j.rse.2011.11.004.
    </p>
    <p>
        Dawadi, S., & Ahmad, S. (2012).  Changing climatic conditions in the
        Colorado River Basin: Implications for water resources management.
        Journal of Hydrology, 430-431, 127-141.
        Doi://10.1016/j.hydrol.2012.02.010.
    </p>
    <p>
        Dawadi, S., & Ahmad, S. (in press). Evaluating the impact of
        demand-side management on water-resources under changing climatic
        conditions and increasing population.  Journal of Environmental
        Management.
    </p>
    <p>
        Mejia, JF.; Huntington, J; Hatchett, B; Koracin, D; Niswonger,RG, Linking Global Climate 
        Models to an Integrated Hydrologic Model: Using an Individual Station Downscaling Approach, 
        Journal of Contemporary Water Research and Education, 2012, 17-27, 147.  
    </p>
    <p>
        S. Mensing S. Strachan, J. Arnone, L. Fenstermaker, F. Biondi, D. Devitt, B. Johnson, B. Bird, and E. Fritzinger (2012). A
        Network for Observing Great Basin Climate Change. Eos, Transactions of the American Geophysical Union
        (AGU). 94 (11), 105-106.
    </p>
    <p>
        Miller, W.P.; Butler, R.A;, Piechota, T; Prairie, J; Grantz, K; &
        DeRosa, G. Water Management Decisions Using Multiple Hydrologic Models
        within the San Juan River Basin under Changing Climate Conditions.
        Journal of Water Resources Planning and Management, 2012, 102.138 :412-420.
    </p>
    <p>
        Morton, C. G., J. L. Huntington, G. M. Pohll, R. G. Allen,
        K. C. McGwire and S. D. Bassett.  Accepted.  Assessing
        calibration uncertainty and automation for estimating
        evapotranspiration from agricultural areas using METRIC.  Journal
        of the American Water Resources Association.
    </p>
    <p>
        Rittenhouse, CD, AM Pidgeon, TP Albright, PD Culbert, MK
        Clayton, CH Flather, JG Masek, & VC Radeloff. Land Cover Change
        and Avian Diversity in the conterminous United States,
        Conservation Biology, 26(5)821-829, 2012, DOI:
        10.1111/j.1523-1739.2012.01867.x.
    </p>
    <p>
        Safi A.,W. Smith Jr. and Z. Liu., Rural Nevada and Climate Change:  Vulnerability, Beliefs, and 
        Risk Perception, Risk Analysis, 2012, 32: 579–582, DOI: 10.1111/j.1539-6924.2012.01835.x. 
    </p>
    <p>
        Saito L, Loucks DP, Grayman WM, Road to 2050: visions for a more sustainable future, Journal 
        of Water Resources Planning and Management, 2012, 1-2, 138.
    </p>
    <p>
        Salas, J.D.; Rajagopalan, B.; Saito, L.; & Brown, C.  Special Section
        on Climate Change and Water Resources: Climate Nonstationarity and
        Water Resources Management.  Journal of Water Resources Planning and
        Management, 2012, 102.138 : 385-388.  DOI: 10.1061/(ASCE)WR.1943-5452.0000279.
    </p>
    <p>
        E. Sharifahmadian and S. Latifi (2012). Cognitive congestion control
        for data portals with variable link capacity,” International Journal
        of Communications, Network and System Sciences, Vol. 5 No. 8, August,
        2012, pp. 481-489.
    </p>
    <p>
        Strachan, S.; Biondi, F.; Leising, J., A 550-year reconstruction of streamflow variability in 
        Spring Valley, Nevada, USA., Journal of Water Resources Planning and Management, 2012, 
        DOI:10.1061/(ASCE)WR.1943-5452.0000180. 
    </p>
    <p>
        Wilcox, E. M., Direct and semi-direct radiative forcing of smoke
        aerosols over clouds. Atmos. Chem. Phys., 12, 139-149, doi:
        10.5194/acp-12-139-2012, 2012.
    </p>

	<h4>
		Published Book(s) or Other One-time Publication(s):</h4>
    <p>
        Boyle, D. P., C. Barth and S. Bassett.  In press.  Towards
        improved hydrologic model predictions in ungauged snow-dominated
        watersheds utilizing a multi-criteria approach and SNODAS
        estimates of SWE.  Predictions in Ungauged Basins: Putting PUB
        into Practice, edited by J. Pomeroy, C. Spence, and P. Whitfield,
        a Monograph to be published by the Canadian Water Resources
        Association in collaboration with the International Association
        of Hydrological Sciences
    </p>
    <p>
        Gibbs, I. 2012. Usability Studies for the Nevada Climate Change Portal. 
        2012 Annual Nevada State Climate Change Meeting, Las Vegas, NV. Poster. 
    </p>
    <p>
        Okamoto, S. and Dascalu, S. 2012. SUNPRISM: A Software Framework for Climate Change Research. 
        2012 Annual Nevada State Climate Change Meeting, Las Vegas, NV. Poster. 
    </p>
    <p>
        Okamoto, S., Hoang, R.V., Dascalu, S.M., Harris, F.C., Jr., and Belkhatir, N. 2012. SUNPRISM: 
        An Approach and Software Tools for Collaborative Climate Change Research. . Proceedings of the 
        International Conference on Collaboration Technologies and Systems (CTS-2012), Denver, CO. 
        Peer reviewed conference paper in conference proceedings (8 pages). 
    </p>
    <p>
        Saito, L. S., Fiedler, F., Cosens, B., Kauneckis, D. 2012. Interdisciplinary Graduate Education in Water 
        and Environmental Resources in 2050. . Toward a Sustainable Water Future. Reston, VA: American Society 
        of Civil Engineers. Book Chapter.  
    </p>
    <p>
        Sharifahmadian, E. and Latifi, S. 2012. Cognitive Congestion Control for Data Portal.  2012 Annual 
        Nevada State Climate Change Meeting, Las Vegas, NV. Poster. 
    </p>
    <p>
        Vesco, J.M., Gilgen, K., Paine, A., Owens, M., Nussbaum, E.M., Sinatra, G.M., Ahmad, S., Crippen, K.J., 
        Dascalu, S.M., and Harris, F.C., Jr. 2012. Losing the Lake: Development and Deployment of an Educational 
        Game. Proceedings of the International Conference on Computers and Their Applications (CATA-2012), 
        Las Vegas, NV. Peer reviewed conference paper in conference proceedings (6 pages).
    </p>	

	<h4>
		Conference Presentations</h4>
    <p>
        F. Biondi (2012). Informing tree-ring reconstructions with automated dendrometer data: the case of single-leaf pinyon
        (Pinus monophylla) from Great Basin National Park, Nevada, USA. Fall Meeting of the American Geophysical Union. San
        Francisco, CA.
    </p>
	<p>
        Fenstermaker, L.F.; Jasoni, R.L.; Arnone, J.A. III, & Devitt, D.A.
        Impact of pixel versus footprint approaches on empirically derived ET
        estimates from Landsat TM.  Remote Sensing and Hydrology (Proceedings
        of a symposium held at Jackson Hole, Wyoming, USA, September 2010)
        (IAHS Publ. 352, 2012).
	</p>
    <p>
        Fritzinger, E., Dascalu, S. M., Ames, D. P., Benedict, K., Gibbs, I.,
        McMahon, M., and Harris, F. C. (2012). The Demeter Framework for Model
        and Data Interoperability. Proceedings of the International Congress
        on Environmental Modeling & Software (iEMSs-2012), Leipzig, Germany,
        July 2012, pp. 1535-1543.
    </p>
    <p>
        D. Kauneckis and J. Stramer (2012). Assessing the importance of governance institutions in climate vulnerability
        assessments: moving beyond simple metrics. International Studies Association. Pasadena, CA.
    </p>
    <p>
        D. Koracin, B. Hatchett, C.E. Dorman, I. Cerovecki, J. Jiang, R. Vellore, J.F. Mejia, and T. McCord (2012). Air-sea
        Interaction over the Kuroshio Current during a Cold-air Outbreak. Boundary Layer Processes in the Climate System. San
        Francisco, CA.
    </p>
    <p>
        B. G. Johnson, R.L. Jasoni, and J. A. Arnone III (2012). Simulated climate change effects of snowpack manipulations on
        soil temperature and moisture in the Sierra Nevada Mountains. American Geophysical Union (AGU). San Francisco, CA.
    </p>
    <p>
        B. G. Johnson, S. Strachan, R.L. Jasoni, and J. A. Arnone III (2012). Quantifying environmental controls on sap flow in
        Great Basin tree species and their significance for mountain groundwater recharge. Mountain Climate Research
        Conference. Estes Park, CO.
    </p>
    <p>
        J. Mejia and N. Perryman (2012). Climatological Impact of Atmospheric River Based on NARCCAP and DRI-RCM
        Datasets. Findings From Climate Change Assessments: Posters From the US National Climate Assessment and the North
        American Regional Climate Change Assessment Program. San Francisco, CA.
    </p>
    <p>
        Patel, J., Okamoto, S., Dascalu, S. M., and Harris,
        F. C. (2012). Web-Enabled Toolkit for Data Interoperability
        Support. Proceedings of the International Conference on Software
        Engineering and Data Engineering (SEDE-2012), Los Angeles, CA, June
        2012, pp. 161-166.
    </p>
    <p>
        Jordan, N. M., Perry, K. B., Narala, N., Bray, L. J., Dascalu, S. M.,
        and Harris, F. C. (2012). Design and Implementation of an NCS-NeuroML
        Translator. Procs. of the Intl. Conf. on Software Engineering and Data
        Engineering (SEDE-2012), Los Angeles, CA, June 2012, pp. 13-19.
    </p>
    <p>
        S. Mensing, S. Strachan, F. Biondi, D. Devitt, L. Fenstermaker, J. Arnone, L. Saito, B. Bird, B. Lyles, G. McCurdy, N.
        Lancaster, and T. Piechota (2012). Introducing NevCAN: The Nevada Climate-ecohydrological Assessment Network of
        Real-Time Very High Resolution Environmental Data in the Great Basin. MTNCLIM 2012. Estes Park, CO.
    </p>
    <p>
        Okamoto, S., Hoang, R. V., Dascalu, S. M., Harris, F. C., and
        Belkhatir, N. (2012). SUNPRISM: An Approach and Software Tools for
        Collaborative Climate Change Research. Proceedings of the 13th
        Intl. Conf. on Collaboration Technologies and Systems (CTS-2012), May
        2012, Denver, CO, pp. 583-590.
    </p>
    <p>
        S.H. Priest, H. Neill, and G. Young (2012). Weighing Environmental Versus Economic Risks, Costs, Benefits & Values:
        Predicting Home Energy Upgrade Program Participation. Society for Risk Analysis Meeting. San Francisco, CA.
    </p>
    <p>
        C.M. Steele, A. Rango, and J.F. Mejia (2012). Application of the Snowmelt Runoff Model to explore the effects of climate
        warming on streamflow in the headwaters of the Upper Rio Grande. Diagnosing Modeling Deficiencies and the Recent
        Advances in Monitoring, Measuring, and Modeling Snow Processes. San Francisco, CA.
    </p>
    <p>
        S. Strachan, J. Arnone, F. Biondi, D. Devitt, L. Fenstermaker, and L. Saito (2012). Measuring Climate and Environmental
        Response in the Great Basin – the NevCAN long-term monitoring sites. EPSCoR Tri-State Western Consortium. Sun
        Valley, Idaho.
    </p>
    <p>
        S. Strachan, F. Biondi, and B. G. Johnson (2012). Instrumenting the Conifers: A Look at Daily Tree Growth and Locally
        Observed Environmental Conditions Across Four Mountain Sites in the Central Great Basin, USA. Fall Meeting of the
        American Geophysical Union. San Francisco, CA.
    </p>
    <p>
        S. Strachan, B. Lyles, B. Bird, G. McCurdy, D. Slater (2012). Welcome to the Future: Status of the NV-EPSCoR Remote
        Environmental Monitoring Transect Stations, Snake and Sheep Ranges, Nevada. Annual State NSF EPSCoR Climate
        Change Conference. Las Vegas, NV.
    </p>
    <p>
        S. Strachan, D. Slater, B. Lyles, K. Smith, and M. McMahon (2012). Critical Infrastructure: Design of Interdisciplinary
        Remote Environmental Monitoring Stations. MTNCLIM 2012. Estes Park, CO.
    </p>
    <p>
        G. Tang and J. A. Arnone III (2012). Trends in surface air temperature and temperature extremes in the Great Basin
        during 1901-2010. American Geophysical Union Fall Meeting. San Francisco, CA.
    </p>
    <p>
        Vesco, J. M., Gilgen, K., Paine, A., Owens, M., Nussbaum, E. M.,
        Sinatra, G. M., Ahmad, S., Crippen, K. J., Dascalu, S. M., & Harris,
        F. C., Jr. (2012).  Losing the Lake: Development and deployment of an
        educational game.  In Proceedings of the 27th International Conference
        on Computers and Their Applications (pp. 101-107).  Las Vegas, NV:
        ISCA.
    </p>
    <p>
        F. Vine (2012). Clark Climate Change Curriculum. Science Educator PD Session. Las Vegas, Nevada.
    </p>
    <p>
        F. Vine (2012). STEM Stars / Climate Change Community. National Science Teachers Association Regional
        Meeting. Phoenix, AZ.
    </p>

    <h4>
        Thesis/Dissertations
    </h4>
    <p>
        Gibbs, I.. Workflow Job Manager for NCCP. (2012). University of Nevada, Reno.
    </p>

	<p style="font-weight: bold">
		Publications from other years:
        <a href="{% url 'publications' %}">2013</a>
		&#8226;
        <a href="{% url 'publications_2012' %}">2012</a>
		&#8226;
		<a href="{% url 'publications_2011' %}">2011</a>
		&#8226;
		<a href="{% url 'publications_2010' %}">2010</a>
		&#8226;
		<a href="{% url 'publications_2009' %}">2009</a></p>

{% endblock %}
