{% extends 'NCCP/project_base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <h1>
        The Project</h1>
    <h2>
        Synergistic Efforts</h2>
    <p>
        The Nevada Climate Change Project is a collaborative effort amongst researchers,
        disciplines, and institutions. One of the primary principles driving this collaboration
        is the desire to create a reusable, extensible infrastructure that can both utilize
        and be utilized by other projects around the world.</p>
    <p>
        To increase project visibility and identify other related systems and / or technologies,
        project members participate in various events, including conferences, working groups,
        and additional grant proposals. As a result, project members collaborate with other
        institutions and individuals of varying size and scope, ranging from local to global.
        Regardless of the type or scale of collaboration, the intent is to improve the existing
        system, identifying additional needs and incorporating new technologies whenever
        possible to make the system more useful to a broader range of users.</p>
    <h3>
        Local</h3>
    <p>
        Local synergistic efforts encompass projects, research, and grants involving Nevada
        and the surrounding regions that can work together to achieve both individual and
        collaborative goals. Most notably, the Nevada Climate Change Project is, itself,
        a synergistic effort amongst several Nevada-based institutions, including:</p>
    <ul>
        <li>
            <a title="The University of Nevada, Reno." href="http://www.unr.edu" target="_blank">The University
            of Nevada, Reno</a></li>
        <li>
            <a title="The University of Nevada, Las Vegas." href="http://www.unlv.edu" target="_blank">The University
            of Nevada, Las Vegas</a></li>
        <li>
            <a title="The Desert Research Institute." href="http://www.dri.edu" target="_blank">Desert Research
            Institute</a></li>
        <li>
            <a title="The Nevada System of Higher Education." href="http://www.nevada.edu" target="_blank">The
            Nevada System of Higher Education</a></li>
    </ul>
    <h3>
        Tri-State Western Consortium</h3>
    <p>
        The Tri-State Western Consortium consists of educational institutions in Idaho,
        New Mexico, and Nevada. The purpose of this group is to coordinate the development
        of software, tools, and infrastructure that facilitate the sharing and utilization
        of climate data between the member institutions. While each institution is free
        and encouraged to build their own systems and technologies, they regularly update
        the other members of the group on their efforts and exchange information that can
        be used to help those developments evolve into a something that benefits all the
        member institutions.</p>
    <p>
        The Tri-State Western Consortium consists of two groups: general and working. The
        general group meets to coordinate high-level development efforts and exchange planning
        information. This group is responsible for directing the general efforts of the
        working group and determining which projects or information are synchronized between
        the member institutions.</p>
    <p>
        The working group is responsible for implementing and coordinating the technologies
        and features, as directed by the general group. Working group meetings specifically
        address the interconnection and interoperability of disparate systems, standards,
        and information between the institutions at a technical level. This group also develops
        implementation-level specifications related to metadata, data synchronization, protocols,
        schemas, and formats.</p>
    <p>
        An extension of the
        <a title="The National Science Foundation." href="http://www.nsf.gov" target="_blank">NSF</a>-funded Nevada Climate
        Change Project, the Tri-State Western Consortium consists of members from the following
        institutions:</p>
    <ul>
        <li>
            <a title="The University of Nevada, Reno." href="http://www.unr.edu" target="_blank">The University
            of Nevada, Reno</a></li>
        <li>
            <a title="The University of Nevada, Las Vegas." href="http://www.unlv.edu" target="_blank">The University
            of Nevada, Las Vegas</a></li>
        <li>
            <a title="The Desert Research Institute." href="http://www.dri.edu" target="_blank">Desert Research
            Institute</a></li>
        <li>
            <a title="The University of New Mexico." href="http://www.unm.edu" target="_blank">The University of New Mexico</a></li>
        <li>
            <a title="The University of Idaho." href="http://www.uidaho.edu" target="_blank">The University of Idaho</a></li>
        <li>
            <a title="Idaho State University." href="http://www.isu.edu" target="_blank">Idaho State University</a></li>
    </ul>
    <h3>
        National</h3>
    <p>
        The Nevada Climate Change Project participates in various national conferences in
        an effort to collaborate with other organizations. These conferences provide an
        opportunity to present developments in the project to other entities that would
        benefit from that information, as well as a chance to identify potential data sources
        and advances that could be integrated into existing systems.</p>
    <p>
        Members of the Nevada Climate Change Project have participated in the following
        conferences and national events:</p>
    <ul>
        <li><a title="Cyberobservatories." href="http://www.cyberobservatories.net" target="_blank">Cyberobservatories</a></li>
        <li><a title="The National Science Foundation Experimental Program to Stimulate Competitive Research." href="http://www.nsf.gov/div/index.jsp?org=EPSC" target="_blank">NSF EPSCoR</a></li>
    </ul>
    <h3>
        Global</h3>
    <p>
        The Nevada Climate Change Project participates in various global conferences in
        an effort to collaborate with other organizations. These conferences provide an
        opportunity to present developments in the project to other entities that would
        benefit from that information, as well as a chance to identify potential data sources
        and advances that could be integrated into existing systems.</p>
    <p>
        Members of the Nevada Climate Change Project have participated in the following
        conferences and global events:</p>
    <ul>
        <li><a title="International Environmental Modelling &amp; Software Society." href="http://www.iemss.org" target="_blank">IEMSS 2010</a></li>
    </ul>
{% endblock %}
