{% extends 'NCCP/Research_Base.html' %}

{% block title %}Nevada Climate Change Portal: Sensors{% endblock %}

{% block style %}
	<style type="text/css">
		#Right
		{
			display: none;
			visibility: hidden;
			width: 0px;
		}
		#Main
		{
			width: 860px;
		}
	</style>

{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
	<h1>
		The Nevada Climate-ecohydrological Assessment Network (N<span class="h1-lowcase">ev</span>CAN)</h1>
	<h2>
		List of Sensors</h2>
    <div>
        <div>
            <table id="sensorTable" class="striped-table">
				{% for sensor in Sensors %}
                <tr>
                    <td>{{sensor.Name}}</td>
                    <td>{{sensor.Description}}</td>
                    <td><img src="/images/{{sensor.Image}}" width="75" height="75" alt="{{sensor.Name}}" /></td>
                </tr>
				{% endfor %}
            </table>
	    </div>
    </div>
	<p>
		Back to <span style="font-weight: bold">
			<a title="Details how monitoring equipmentis used to collect climate data." href="{% url 'researchED' %}">Equipment Details page</a></span>.</p>


{% endblock %}
