{% extends 'NCCP/Tools_Base.html' %}

{% block title %}Nevada Climate Change Portal: VISTED{% endblock %}

{% block body %}
	<h1>
		The VISTED Tool</h1>
    <p>
        <a title="A web application used for browsing NCARWRF data" href="http://sensor.nevada.edu/VISTED/" target="_blank">VISTED</a>
    </p>
    <p>
        VISTED is a visualization toolset for environmental data. The main goal of 
        the VISTED is to help the climate researchers in visualizing datasets 
        and also to give them flexibility in choosing the data of their interest.   
        The VISTED tool suite includes new capabilities such as data extraction and 
        interoperability of various data formats. The tool will allow users to extract, 
        view, download, and visualize data. It will input and download data in netCDF, 
        ASCII, HDF5, and CSV formats. The time series charts and maps will help to effectively visualize the data. To support several browsers, operating 
        systems, and hardware devices the HTML5 standard has been adopted.
    </p>
    <p>
        The main author of VISTED is Likhitha Ravi, who developed it as part of her research assistantship in the 
        Computer Science and Engineering department at UNR. Likhitha can be contacted at 
        <a href="mailto:likhitha.ravi@gmail.com">likhitha.ravi@gmail.com</a>.
    </p>
{% endblock %}
